@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Microsoft.AspNetCore.Authentication;
<dl>
    <dt>@ViewBag.Json</dt>

    <dt>access token</dt>
    <dd>@await ViewContext.HttpContext.Authentication.GetTokenAsync("access_token")</dd>

    <dt>refresh token</dt>
    <dd>@await ViewContext.HttpContext.Authentication.GetTokenAsync("refresh_token")</dd>


    User claims are: @ViewBag.claims

 

    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<p>
    @using (Html.BeginForm("CallApi", "Home"))
    {
        <input type="submit" value="callApi" />
    }
</p>