@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>About Page</h1>

<d1>
    @foreach (var claim in User.Claims)
    {
        <dt>claim.Type</dt>
        <dt>claim.Value</dt>

    }

</d1>