@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ERPAPI.Controllers.Course

<p>

    @Model.
    JSON is @ViewBag.Json
</p>

@if (await AuthorizationService.AuthorizeAsync(User, Model, "CoursePaid"))
{
    <p>Course fees paid?  @Model.IsPaid</p>
}