@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-7 col-sm-10 center-block floatnone">
        <div class="col-sm-3 categoryBox">
            <a [routerLink]="['/createServiceRequest']" class="CreateServiceRequest">
                <span class="icon">
                    <i class='fa fa-CreateServiceRequest'></i>
                </span>
                <span class="name">Create ServiceRequest</span>
            </a>
        </div>
        <div class="col-sm-3 categoryBox">
            <a href='#' class="ViewServiceRequest">
                <span class="icon">
                    <i class='fa fa-ViewServiceRequest'></i>
                </span>
                <span class="name">View ServiceRequests</span>
            </a>
        </div>
        <div class="col-sm-3 categoryBox">
            <a href='#' class="AssignWorker">
                <span class="icon">
                    <i class='fa fa-AssignWorker'></i>
                </span>
                <span class="name">Assign Worker</span>
            </a>
        </div>
        <div class="col-sm-3 categoryBox">
            <a href='#' class="WorkersManagement">
                <span class="icon">
                    <i class='fa fa-WorkersManagement'></i>
                </span>
                <span class="name">Workers Management</span>
            </a>
        </div>

    </div>
</div>
